.profileImg {
    border-radius: 50%;
    border-width: 2px;
    border-color: #F0F3FA;
    border-style: solid;
    /*background: var(--nav-txt);*/
}

.profileCard {
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    background-color: var(--card-color);
    color: var(--grey-txt);
}

.profileCard__grid {
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-row-gap: 30px;
}

.profileCard__body {
    padding: 1rem;
}

.profileCard__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 2px 0 8px 2px rgba(0,0,0,0.1);
}

.profileCard__icon {
    padding: 1vh;
}

.profileCard:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    /*transform: scale(1.02);*/
}

.profileCard:active {
}

.profileList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
}

.a {
    padding: 0.5rem;
    border-radius: 5px;
    background: whitesmoke;
}

.a:hover {
    transform: scale(1.05);
}