.navParent {
    transition: 0.3s;
    width: 80%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navIcon {
    margin-right:5%;
    margin-left: 2%;
    height: 50px;
    width: 50px;
}

.navItem {
    color: var(--nav-txt);
    padding: 0.4rem;
    text-decoration: none;
}

.navItem:hover {
    cursor: pointer;
    color: #ffd5a1;
    transform: scale(1.04);
}