.navParent {
    transition: 0.3s;
    width: 80%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navIcon {
    margin-right:5%;
    margin-left: 2%;
    height: 50px;
    width: 50px;
    filter: var(--filter-color);
}

.navItem {
    color: var(--nav-txt);
    padding: 0.4rem;
    text-decoration: none;
    transition: all ease-in-out .2s;
}

.navItem:hover {
    cursor: pointer;
    color: var(--nav-hover);
    border-bottom: 1px solid var(--nav-txt);
    transform: scale(1.0);
}

.active {
    border-bottom: 3px solid whitesmoke;
}
