.navParent {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navItem {
    font-size: larger;
    color: whitesmoke;
    padding: 0.4rem;
    text-decoration: none;
}

.navItem:hover {
    cursor: pointer;
    color: whitesmoke;
    transform: scale(1.04);
}