.Status {
    margin-top: 2rem;
    background-color: var(--card-color);
    border-radius: 8px;
    padding: 1rem 1rem;
}

.StatusTitleText {
    text-align: center;
}

.PendingCompletedArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.List {
    width: 40%;
    display: flex;
    flex-direction: column;

}

.PendingListItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.CompleteButton {
    height: 1.6rem;
}
.CompleteButton:hover {
    transform: scale(1.03);
}