.Header {
    background: var(--nav-bg);
    display: flex;
    flex-direction: row;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: var(--nav-txt);
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--bg-color);
    box-shadow: rgba(175, 175, 208, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.Header > nav {

}

.userAndLogoutDiv {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    margin: 1.5rem;
}

.userAndLogoutDiv_User:hover {
    cursor: pointer;
    color: #ffd5a1;
    transform: scale(1.04);
}

.logoutButton {
    background-color: var(--nav-txt);
    color: var(--bg-color);
    border-style: none;
    border-radius: 0.5rem;
    margin-left: 10px;
    transition:0.2s;
}

.logoutButton:hover {
    transform: scale(1.05);
}

button {
    background-color: var(--nav-txt);
    color: var(--bg-color);
    border-style: none;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}