.exerciseCard {
    width: 32%;
    transition: 0.2s;
    box-shadow: 2px 0 8px 2px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    margin: 0.5rem;
    display: inline-grid;

}

.exerciseCard__grid {
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-row-gap: 30px;
}

.exerciseCard__body {
    padding: 1rem;
}

.exerciseCard__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.exerciseCard__icon {
    padding: 1vh;
}

.exerciseCard:hover {
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);
    background: rgb(250, 250, 250);
    /*background: linear-gradient(0deg, rgb(223, 252, 253) 0%, rgb(255, 247, 229) 100%);*/
}

.exerciseCard:active {
    box-shadow: 0 0 4px 10px rgba(0,150,0,0.2);
}

.exerciseList {
    list-style-type: none;
    padding: 0;
}